annotated-types
anyio
Brotli
certifi
charset-normalizer
click
contourpy
cycler
fastapi
filelock
fonttools
h11
idna
intel-cmplr-lib-ur
intel-openmp
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mkl
mkl_fft
mkl_random
mkl-service
mpmath
networkx
numpy
packaging
pillow
pip
ply
pydantic
pydantic_core
pyparsing
PyQt5
PyQt5_sip
PySocks
python-dateutil
python-multipart
PyYAML
requests
scikit-learn
scipy
setuptools
sip
six
sniffio
starlette
sympy
tbb
tcmlib
threadpoolctl
torch
torchvision
tornado
triton
typing_extensions
umf
unicodedata2
urllib3
uvicorn
wheel